.search-header {
  font-weight: bold;
  margin: 0;
  font-size: 30px;
}
.user-image {
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  height: 80px;
  width: 80px;
}
.user-item-container {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
}
.flex-container {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.user-details-div {
  position: relative;
  left: 10px;
  top: 2px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 3px solid !important;
  border-radius: 2px !important;
  border-color: #fff #fff #1b1b4c #fff !important;
}
.search-username {
  cursor: pointer;
}
#popover-contained {
  background: #4b6584 !important;
  color: white !important;
  padding: 5px 15px !important;
}
.bs-popover-auto[x-placement^="bottom"] > .arrow::after,
.bs-popover-bottom > .arrow::after {
  border-bottom-color: #4b6584 !important;
}
