// Colors

$c-lightest: #ffffff;
$c-light: #f2f2f2;
$c-neutral: #dcdcdc;
$c-dark: #7b7b7b;
$c-darkest: #212121;
$c-active: #628ed5;

// Other

$border-radius: .7rem;

// Transitions

$default-transition-time: 0.3s;