.centerise-row{
    margin-left: 5%;
}
.scroll{
    white-space: nowrap;
    overflow-y: auto;
    height: 50vh;
     .card {
         display: inline-block;
     }
}

.checkbox {
    position: absolute;
    top: -6px;
    left: -17px;
}

.bodycss{
    *{
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
/*
.centerise-row{
    margin-left: 5%;
}
.scroll{
    white-space: nowrap;
    overflow-y: auto;
    height: 50vh;
     .card {
         display: inline-block;
     }
}

.checkbox {
    position: absolute;
    top: -6px;
    left: -17px;
}*/

