.sub-heading-edit-profile {
    color:rgba(0, 0, 0, 0.5)
}
.edit-profile-header {
	font-weight: bold;
	margin: 0;
	color: #1b1b4c;
	font-size: 30px;
}
.button-background {
	border-color: #1b1b4c;
	color:#1b1b4c;
}
.button-background:hover {
	background: #1b1b4c;
	color:#ffffff;
}
.empty-edit-profile-border{
	border-color: red;
}