@import "../../style/abstract/abstract";

.left {
  padding-right: 1rem;
  border-radius: $border-radius;
  &__avatar {
    width: 12.5rem;
    height: 10.5rem;
    object-fit: cover;
    border-radius: $border-radius;
  }
  &__avatarhome {
    width: 12.5rem;
    height: 10.5rem;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 1px 1px #f2f2f2;
    border-radius: $border-radius;
    // max-width: 120px !important;
    height: auto !important;
  }
  &__username {
    @extend %h2;
    color: $c-darkest;
    margin-top: 1rem;

    font-size: 1em;
  }
  &__description {
    @extend %p;
    color: $c-darkest;
    margin-bottom: 1rem;
  }
}
.btn-container {
  width: 12.5rem;
}
.img-box {
  position: relative;
  text-align: center;
  display: block;
  overflow: hidden;
}
.img-content {
  padding: 20px;
  background: transparent;
  position: absolute;
  bottom: -200px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
.img-box:hover .img-content {
  bottom: 0px;
  background-color: rgba(226, 226, 230, 0.7);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  background-image: url("edit-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.left-meta {
  margin-top: -0.5rem;
  color: $c-dark;
  margin-left: 0rem;
  @extend %p;

  &__icon {
    width: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

    display: inline-block;
  }
}

.people-wrapper {
  margin-top: 2rem;
}

.people {
  margin: 1rem 0;

  &__heading {
    max-width: calc(4rem * 3);
    padding-right: 1rem;
  }
  &__title {
    @extend %h3;
    color: $c-darkest;
    margin-bottom: 1rem;
  }
  &__all {
    @extend %small;
    color: $c-active;
    text-transform: uppercase;
    @include easeOut;

    &:hover,
    &:focus {
      color: $c-neutral;
    }
  }
}

.people-avatars {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-bottom: -1rem;
  max-width: calc(4rem * 3);

  &__figure {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  &__image {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: $border-radius;
    object-fit: cover;
  }
}
.limitHeight {
  height: 195px !important;
}
cover-btn {
  color: #fff !important;
  background: #4b6584 !important;
  &:hover {
    background: white !important;
    color: #4b6584 !important;
  }
}
.smaller-text {
  font-size: 12px;
}
.bg-lit {
  background: white;
}
.f10px {
  font-size: 10px !important;
}